html {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.fluid-button-bar a {
  /*this !important HURTS MY SOUL BUT THIS COMPONENT IS MANAGED BY FLOW-BITE SO THIS IS THE BEST I CAME UP WITH IN A JIFFY*/
  width: 100% !important;
}

.fluid-button-bar span {
  /*overriding lib behavior sucks I know bear with me*/
  width: 100% !important;
  justify-content: center;
  gap: 1em;
}
